@import url('https://font.googleleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #25B0E7;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.logo-png {
    width: 65px;
    height: auto;
    margin: 10px;
    margin-left: 60px;
}

.nav-item {
    margin : 10px;
}

.navbar-nav .nav-item .nav-link {
    color: white !important; /* Atur warna font menjadi putih */
}
  
.navbar-center {
    display: flex;
    justify-content: center;
}

.contentsatu {
    height: 100%; /* Mengisi tinggi viewport */
    position: relative;
    overflow: hidden; /* Mengatur elemen .contentsatu untuk mengurung .bg-content */
}

.bg-content {
    background-image: url('background.JPG');
    background-size: cover;
    background-position: center;
    position: relative; /* Mengatur posisi elemen menjadi tetap */
    z-index: -1; /* Mengatur z-index agar berada di bawah elemen-elemen lain */
    top: 0; /* Mengatur elemen ke bagian atas layar */
    left: 0; /* Mengatur elemen ke bagian kiri layar */
    width: 100%; /* Mengisi seluruh lebar layar */
    height: 600px; /* Mengisi seluruh tinggi layar */
    opacity: 0.7; /* Mengatur tingkat transparansi sesuai kebutuhan */
}
.bg-content::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Warna overlay gelap (hitam dengan transparansi 0.5) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mengatur z-index agar berada di bawah elemen-elemen lain */
}

.content-wrapper {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff ;/* Warna teks */
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.contentdua {
    position: relative;
    background-color: #f4f4f4; /* Atur warna latar belakang putih pada content 2 */
}

.bg-desc {
    background-image: url('Rectangle\ 21.png');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    width: 100%;
    padding: 50px 150px;
}
.bg-desc h2 {
    margin-bottom: 18px;
}
.bg-desc p {
    font-size: 15px;
    text-align: justify;
}
.about-holy {
    margin: 20px;
    padding-left: 100px;
}
.about_holypng {
    width: 350px;
    height: auto;
    border-radius: 30px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1); /* Ubah nilai-nilai ini sesuai kebutuhan */
}

.contenttiga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.tittle-layanan p {
    color: #006496;
    margin-bottom: 10px !important;
} .tittle-layanan h2 {
    color: #25B0E7;
    padding-bottom: 30px;
} 

.grid-container {
    display: flex;
    align-items: center;
}

.container{
    height: 500px;
    margin: 50px;
    color: #d2d2d2;
}
.container p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #006496
}
.container h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:  30px;
    color: #25B0E7;
    margin-top: -10px;
    margin-bottom: 40px;
}
.card {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none !important;
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1); /* Ubah nilai-nilai ini sesuai kebutuhan */    
}
.card-text {
    text-align: center;
    color: #006496;
}
.card {
    margin: 10px;
    display: flex;
    text-align: left;
}

.prod-layanan {
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4 !important;
}
.prod-layanan .card-body{
    justify-content: center;
    padding: 80px 30px;
}
.prod-layanan .card {
    background-color: #25B0E7;
    border-radius: 20px !important;
}.prod-layanan .card img {
    border-radius: 20px 0px 0px 20px !important;
}
.prod-layanan .card-title {
    font-weight: bold;
    color: #f4f4f4;
}
.prod-layanan .card-text-layanan {
    font-weight: normal;
    font-size: 15px;
    color: #f4f4f4;
}

.card .row .col-md-8 p {
    font-size: 13px;
}

.prod-jasa {
    margin: 50px;
    font-family: 'Poppins', sans-serif;
}

.prod-jasa p {
    color: #006496;
    margin-bottom: 10px !important;
} .prod-jasa h2 {
    color: #25B0E7;
    padding-bottom: 30px;
} 

.prod-jasa .card {
    width: 300px;
    height: auto;
    margin: 20px !important;
    background-color: #25B0E7;
    border-radius: 20px !important;
}.prod-jasa .card img {
    border-radius: 20px 20px 0px 0px !important;
} .prod-jasa .card .card-title {
    margin-top: 15px !important;
    font-weight: bold;
    color: #ffffff;
} .prod-jasa .card .card-text {
    margin-bottom: 20px !important;
    text-align: left;
    color: #ffffff;
} .prod-jasa .card .btn {
    margin-bottom: 5px !important;
    border-radius: 20px;
}

.prod-jasa img{
    width: 300px;
    height: auto;
}

.contact {
    background-color: #25B0E7;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    width: auto;
    height: 700px;
    padding-top: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.map-container {
    height: 500px; /* Ubah tinggi peta sesuai kebutuhan */
}
.address-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}.address-info .map-text{
    font-size: 30px;
}.address-info .contact-info-stat{
    margin-bottom: 10px;
    font-weight: bold;
}.address-info img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

#map {
    width: 800px;
    height: 450px;
    margin: 40px;
}

@media (min-width: 992px) {
    .navbar-nav {
      margin-left: auto; /* Memindahkan menu ke sisi kanan */
    }
}